<div class="row">
  <div class="col-md-6 col-md-offset-3 text-center wrap_title">
      <h2>Contact List</h2>
      <p class="lead" style="margin-top:0">Below are the teams...</p>
  </div>
  <div class="mockup-content">

      <div class="table-responsive">
          <table class="table">
              <thead>
                  <tr>
                      <th>Team #</th>
                      <th>Name</th>
                      <th>Phone</th>
                      <th>Email</th>
                  </tr>
              </thead>
              <tbody>
                  <tr class="rowOffset">
                      <td>1</td>
                      <td>Carl Witkowski (Jr)</td>
                      <td>570.498.9641</td>
                      <td>cwitkowski@hotmail.com</td>
                  </tr>
                  <tr class="rowOffset">
                      <td>1</td>
                      <td>Mark Hoover (C)</td>
                      <td>570.299.9992</td>
                      <td>hoover@shamrocknepa.com</td>
                  </tr>
                  <tr>
                      <td>2   </td>
                      <td>Jeff Pisanchyn   </td>
                      <td>570.237.1747   </td>
                      <td>   </td>
                  </tr>
                  <tr>
                      <td>2   </td>
                      <td>Chris Malvizzi</td>
                      <td></td>
                      <td>   </td>
                  </tr>
                  <tr class="rowOffset">
                      <td>3   </td>
                      <td>Tony Medici</td>
                      <td>      </td>
                      <td></td>
                  </tr>
                  <tr class="rowOffset">
                      <td>3   </td>
                      <td>Bob Remsky   </td>
                      <td>570.446.0388   </td>
                      <td>   </td>
                  </tr>
                  <tr>
                      <td>4   </td>
                      <td>Jugus Jugus</td>
                      <td></td>
                      <td>   </td>
                  </tr>
                  <tr>
                      <td>4   </td>
                      <td>Edward Klein   </td>
                      <td>570.362.8607   </td>
                      <td>   </td>
                  </tr>
                  <tr class="rowOffset">
                      <td>5   </td>
                      <td>Ryan McBride   </td>
                      <td>570.954.0236   </td>
                      <td>   </td>
                  </tr>
                  <tr class="rowOffset">
                      <td>5   </td>
                      <td>Frank Biancardi</td>
                      <td>   </td>
                      <td>   </td>
                  </tr>

                  <tr>
                      <td>6   </td>
                      <td>Joseph Pisanchyn   </td>
                      <td>570.589.9602</td>
                      <td>   </td>
                  </tr>
                  <tr>
                      <td>6   </td>
                      <td>Frank Bartoli</td>
                      <td>610.547.1194</td>
                      <td></td>
                  </tr>

                  <tr class="rowOffset">
                      <td>7   </td>
                      <td>Brian Hastings   </td>
                      <td>570.947.8653   </td>
                      <td>   </td>
                  <tr class="rowOffset">
                      <td>7   </td>
                      <td>Noah Katz   </td>
                      <td>570.947.3383   </td>
                      <td>   </td>
                  </tr>
                  <tr class="">
                      <td>8   </td>
                      <td>Jerry Palmaioli   </td>
                      <td>570.574.2178   </td>
                      <td>   </td>
                  </tr>
                  <tr class="">
                      <td>8   </td>
                      <td>Nick Parise   </td>
                      <td>570.357.1472   </td>
                      <td>   </td>
                  </tr>

                  <tr class="rowOffset">
                      <td>9   </td>
                      <td>John   </td>
                      <td>570.357.0401</td>
                      <td>   </td>
                  </tr>
                  <tr class="rowOffset">
                      <td>9   </td>
                      <td>Rob</td>
                      <td>570.954.1088</td>
                      <td>   </td>
                  </tr>
                  <tr>
                      <td>10   </td>
                      <td>Ed Feist   </td>
                      <td>570.855.8140   </td>
                      <td>   </td>
                  </tr>
                  <tr class="">
                      <td>10   </td>
                      <td>Mystery Partner</td>
                      <td></td>
                      <td></td>
                  </tr>
                  <tr class="rowOffset">
                      <td>11   </td>
                      <td>Stacy   </td>
                      <td>570.885.3556</td>
                      <td>   </td>
                  </tr>
                  <tr class="rowOffset">
                      <td>11   </td>
                      <td>Jill</td>
                      <td>570.357.5494</td>
                      <td>   </td>
                  </tr>
                  <tr class="info">
                      <td>League Alternate </td>
                      <td>Carl Witkowski (Sr.) </td>
                      <td>570.510.0331</td>
                      <td> </td>
                  </tr>
                  <tr class="info">
                      <td>League Alternate</td>
                      <td>Joe Semon </td>
                      <td>570.430.0646 </td>
                      <td> </td>
                  </tr>
                  <tr class="info">
                      <td>League Alternate </td>
                      <td>Jeff Hoover </td>
                      <td>570.498.2132 </td>
                      <td> </td>
                  </tr>
                  <tr class="info">
                      <td>League Alternate </td>
                      <td>Danny Stella</td>
                      <td>570.499.2294 </td>
                      <td> </td>
                  </tr>
              </tbody>
          </table>

      </div>
  </div>
</div>
