<!-- Preloader -->
<div id="preloader">
  <div id="status"></div>
</div>

<!-- FullScreen -->
<div class="intro-header">
  <div class="col-xs-12 text-center abcen2">
    <h1 class="h1_home wow fadeIn" data-wow-delay="0.4s">Super Duper</h1>
    <h3 class="h3_home wow fadeIn" data-wow-delay="0.6s">Card League</h3>

  </div>

</div>

<!-- NavBar-->
<nav class="navbar-default" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#home">Super Duper Card League</a>
    </div>

    <div class="collapse navbar-collapse navbar-right navbar-ex1-collapse">
      <ul class="nav navbar-nav">
        <li class="menuItem"><a routerLink="News">News</a></li>
        <li class="menuItem"><a routerLink="Contact">Contact List</a></li>
        <li class="menuItem"><a routerLink="Schedule">Schedule</a></li>
        <li class="menuItem"><a routerLink="Standings">Standings</a></li>
        <!-- <li class="menuItem"><a href="#carousel">Scoresheets</a></li> -->
        <li class="menuItem"><a routerLink="Rules">League Rules</a></li>
        <!--<li class="menuItem"><a href="#downloads">Downloads</a></li>-->
        <!-- <li class="menuItem"><a href="#commish">Commissioner Contact</a></li> -->
      </ul>
    </div>

  </div>
</nav>

<div id="news" class="content-section-a" style="border-top: 0">
  <div class="container">

    <router-outlet></router-outlet>

  </div>
</div>

<!-- <div id="news" class="content-section-a" style="border-top: 0">
  <div class="container">

    <app-news></app-news>

  </div>
</div>

<div id="contact" class="content-section-b ">
  <div class="container">
    <app-contact-list></app-contact-list>
  </div>
</div>

<div id="schedule" class="content-section-a ">
  <div class="container">
    <app-schedule></app-schedule>
  </div>
</div>

<div id="standings" class="content-section-b ">
  <div class="container">
    <app-standings></app-standings>

  </div>
</div>



<app-league-rules></app-league-rules>




<footer>
  <app-footer></app-footer>
</footer> -->