<div class="row">
    <div class="col-md-6 col-md-offset-3 text-center wrap_title">
        <h2>Schedule</h2>
        <p class="lead" style="margin-top:0">Here is the weekly schedule</p>
        <p>
            Show <select name="team" id="teamSelection" (change)="teamSelectChange($event)">
                <!-- <option value="All">All Teams</option> -->
                <option *ngFor="let team of teams" value="{{ team.teamNumber }}">Team {{ team.teamNumber}} - {{ team.teamMemberA }} / {{ team.teamMemberB }}</option>
            </select>
        </p>

    </div>
    <!-- <div>
        {{ teams | json }}
    </div> -->
    <div class="mockup-content">
        <div class="">
            <table id="tableSched" class="table">
                <thead>
                    <tr>
                        <th>Matchup</th>
                        <th>Date</th>
                        <th>Team 1</th>
                        <th>Team 2</th>
                        <th>Results</th>
                    </tr>
                </thead>
                <tbody *ngFor="let item of schedule">
                    <tr><td>{{ item.matchup }} </td><td>{{item.matchDate}}</td><td> {{ item.teamA }} </td><td>{{ item.teamB }}</td><td> {{ item.result }} </td></tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
