<div class="row">
    <div class="col-md-6 col-md-offset-3 text-center wrap_title">
        <h2>Standings</h2>
        <p class="lead" style="margin-top:0">Below are the team standings.</p>
        <p>Results are as of <strong>10/16/2018</strong></p>
    </div>
    <div class="mockup-content">
        <div class="table-responsive">
            <table id="tableStandings" class="table table-striped">
                <thead>
                    <tr>
                        <th>Place</th>
                        <th>Team</th>
                        <th>Wins</th>
                        <th>Losses</th>
                        <th>Games Played</th>
                        <th>Winning %</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="info"><td>1</td><td>1</td><td>15</td><td>10</td><td>25</td><td>0.600</td></tr>
                    <tr class="info"><td>2</td><td>9</td><td>12</td><td>8</td><td>20</td><td>0.600</td></tr>
                    <tr class="info"><td>3</td><td>10</td><td>15</td><td>10</td><td>25</td><td>0.600</td></tr>
                    <tr class="info"><td>4</td><td>2</td><td>11</td><td>9</td><td>20</td><td>0.550</td></tr>
                    <tr><td>5</td><td>7</td><td>11</td><td>9</td><td>20</td><td>0.550</td></tr>
                    <tr><td>6</td><td>8</td><td>11</td><td>9</td><td>20</td><td>0.550</td></tr>
                    <tr><td>7</td><td>3</td><td>13</td><td>12</td><td>25</td><td>0.520</td></tr>
                    <tr><td>8</td><td>6</td><td>12</td><td>13</td><td>25</td><td>0.480</td></tr>
                    <tr><td>9</td><td>4</td><td>13</td><td>17</td><td>30</td><td>0.433</td></tr>
                    <tr><td>10</td><td>5</td><td>8</td><td>12</td><td>20</td><td>0.400</td></tr>
                    <tr><td>11</td><td>11</td><td>4</td><td>16</td><td>20</td><td>0.200</td></tr>

                </tbody>
            </table>
        </div>
    </div>
</div>
