<div id="rules" class="content-section-a">

    <div class="container">
      <div class="col-md-6 col-md-offset-3 text-center wrap_title">
        <h2>League Rules</h2>
      </div>
      <div class="row">
  
  
        <div class="col-sm-12 wow fadeInLeftBig" data-animation-delay="200">
          <h3 class="section-heading">General Information</h3>
  
          <ul class="descp lead2">
            <li><i class="glyphicon glyphicon-ok"></i> This is a 10 week, 4 Point Pitch League</li>
            <li><i class="glyphicon glyphicon-ok"></i> There are 9 weeks of regular season play</li>
            <li><i class="glyphicon glyphicon-ok"></i> The league consists of 2 man teams, playing a total of 5 games
              head-to-head</li>
            <li><i class="glyphicon glyphicon-ok"></i> Each game starts at 11 points, the first team to reach 0 wins the
              match. </li>
            <li><i class="glyphicon glyphicon-ok"></i> We play for high, low, jack and game. <strong>No tens</strong> are
              in the deck. </li>
            <li><i class="glyphicon glyphicon-ok"></i> You must capture the jack to receive the point, but do not have to
              capture low.</li>
  
          </ul>
  
        </div>
      </div>
    </div>
  </div>
  <!-- /.container -->
  
  
  <div class="content-section-b">
  
    <div class="container">
      <div class="row">
  
        <div class="col-sm-12 wow fadeInLeftBig" data-animation-delay="200">
          <h3 class="section-heading">Where\When do we play?</h3>
          <ul class="descp lead2">
            <li><i class="glyphicon glyphicon-ok"></i>We play at the Duryea VFW every Tuesday at 6:30 pm. - if that is
              too early for a team to play, please consult the league roster, contact the team and coordinate a better
              time to play. </li>
            <li><i class="glyphicon glyphicon-ok"></i>The VFW is located at 492 Stephenson St, Duryea, PA 18642.</li>
            <li><i class="glyphicon glyphicon-ok"></i>The VFW kitchen is open on Tuesday's, food is available for
              purchase if needed</li>
            <li><i class="glyphicon glyphicon-ok"></i>Have nowhere else to go? After your scheduled match, hang out and
              play a few pick-up games!</li>
          </ul>
  
        </div>
      </div>
    </div>
  </div>
  
  <div class="content-section-a">
  
    <div class="container">
  
      <div class="row">
  
  
        <div class="col-sm-12 wow fadeInLeftBig" data-animation-delay="200">
          <h3 class="section-heading">What's the Cost?</h3>
          <ul class="descp lead2">
            <li><i class="glyphicon glyphicon-ok"></i>There is a weekly costs of 10 GIL per man (20 GIL per team). Please
              pay each week on time. <strong>You are also responsible for the 10 GIL weekly fee, even if you are not
                present</strong></li>
            <li><i class="glyphicon glyphicon-ok"></i>Teams are also charged 1 GIL per total "ups" at the end of all 3
              games that must be payed the evening of the match. </li>
            <li><i class="glyphicon glyphicon-ok"></i>Ups are owed only for the losing team of that game. For example, if
              team 1 is playing team 10, team 1 has 4 ups for a game, and team 10 has 8 ups. If team 10 wins, team 1 owes
              4 GIL, team 10 does not owe for that game.</li>
            <li><i class="glyphicon glyphicon-ok"></i>To purchase beer\drinks, you may be required to purchase a social
              membership to the VFW. It is an annual cost of $15, but a great way to support the local chapter. You do
              not have to be a military veteran to acquire a membership.</li>
          </ul>
  
        </div>
      </div>
    </div>
  
  </div>
  
  <div class="content-section-b">
  
    <div class="container">
      <div class="row">
  
        <div class="col-sm-12 wow fadeInLeftBig" data-animation-delay="200">
          <h3 class="section-heading">What's the "money" for?</h3>
          <ul class="descp lead2">
            <li><i class="glyphicon glyphicon-ok"></i>100% of all "up's" go towards an end of season party</li>
            <li><i class="glyphicon glyphicon-ok"></i>An additional 400 GIL from weekly dues are kept in reserve towards
              the end of season party</li>
            <li><i class="glyphicon glyphicon-ok"></i>A small amount of funds go towards decks of cards, scoring sheets
              and other items required to run the league</li>
            <li><i class="glyphicon glyphicon-ok"></i>The top 4 teams play in an end of season tournament (see playoff's
              section for more details). Payout's are ESTIMATED as follows:</li>
            <li style="padding-left:35px;"><i class="glyphicon glyphicon-ok"></i>1st place - 800 GIL</li>
            <li style="padding-left:35px;"><i class="glyphicon glyphicon-ok"></i>2nd place - 400 GIL</li>
            <li style="padding-left:35px;"><i class="glyphicon glyphicon-ok"></i>3rd place - 250 GIL</li>
            <li style="padding-left:35px;"><i class="glyphicon glyphicon-ok"></i>4th place - 125 GIL</li>
            <li><i class="glyphicon glyphicon-ok"></i>We will also keep aside at least 225 GIL for a 6 team losers
              bracket, also to be played out the final week of the season.</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  
  
  
  <div class="content-section-a">
  
    <div class="container">
      <div class="row">
  
        <div class="col-sm-12 wow fadeInRightBig" data-animation-delay="200">
          <h3 class="section-heading">What if I can't make it?</h3>
          <ul class="descp lead2">
            <li><i class="glyphicon glyphicon-ok"></i>If you cannot attend, attempt to find an alternate player to fill
              in for you, or <strong>contact the other team - NOT THE COMMISH</strong> to reschedule. </li>
            <li><i class="glyphicon glyphicon-ok"></i>Please be mindful of other peoples time, if you cannot make a
              match, or will be late, please contact the other team and let them know. </li>
            <li><i class="glyphicon glyphicon-ok"></i>You are also responsible for the 10 GIL weekly fee, <strong>even if
                you are not present</strong></li>
            <li><i class="glyphicon glyphicon-ok"></i>A full time player on another team <strong>cannot</strong> be a
              substitute, but check the league contact list for specified league alternate's, or contact the commissioner
              if you have another partner you'd like to have sit in.</li>
            <li><i class="glyphicon glyphicon-ok"></i><strong>All missed games must be made up</strong> by the final week
              of the season. It's always possible to make games up after your weekly scheduled match, but if necessary
              meet another night at a time that is convenient for both teams. It's always an option to perform make-up
              games after a regularly scheduled match, but remember that other teams may be attempting to perform make-up
              games as well, so complete your matches as soon as possible! Remember, <strong>the league depends on all
                scheduled matched being completed on time</strong>.</li>
            <li><i class="glyphicon glyphicon-ok"></i>You can download a printable scoring sheet in the downloads section
              of the website if needed. If not available, please track the date, scorekeeper, total "ups" for each team,
              scores for each match, and a final score. Present to the commissioner(s) once complete.</li>
          </ul>
  
        </div>
  
  
  
      </div>
    </div>
  </div>
  
  <div class="content-section-b">
  
    <div class="container">
      <div class="row">
  
        <div class="col-sm-12 wow fadeInRightBig" data-animation-delay="200">
          <h3 class="section-heading">Cheating</h3>
          <div class="sub-title lead3">Don't Do It</div>
          <p class="lead">
            Cheating is a serious offense.. and seriously uncool. Don't signal, don't tip cards, don't throw games. If a
            team is suspected of cheating, please contact a commissioner directly stating the infraction(s). If a team is
            cheating, the level of offense and penalty will be decided by the commissioner(s), which can vary from
            forfeiture of single games, to matches, to an entire season.
          </p>
        </div>
  
  
  
      </div>
    </div>
    <!-- /.container -->
  </div>
  
  <div class="content-section-a">
  
    <div class="container">
      <div class="row">
  
  
  
        <div class="col-sm-12 wow fadeInLeftBig" data-animation-delay="200">
          <h3 class="section-heading">In Game Rules</h3>
          <ul class="descp lead2">
            <li><i class="glyphicon glyphicon-ok"></i>Choosing the Dealer - Cards are initially shuffled, one card is
              flipped over for each player. The highest card (or first Ace) will be the initial dealer for the first
              game. Teams can also choose to make the "lowest" card the scorekeeper. After a game is won, the next player
              who would have received deal on the winning team will become dealer for the start of the new game.</li>
            <li><i class="glyphicon glyphicon-ok"></i>Misdeals – A misdeal shall be defined as when the dealer either
              deals too many or too few cards or when a card is turned or flipped over by dealer <strong>before first
                card is played</strong>. The deal must be passed to the player to the left. If card is flipped over by a
              player other than dealer, the cards shall be dealt over and shall not be passed. A dealer misdeal will lead
              to the dealing team going up for the points that have been bid, or if the bidding has not begun yet, the
              dealing team will go up 2 points.</li>
            <li><i class="glyphicon glyphicon-ok"></i>No Forced Bids – When no bid is tendered, the dealer may choose to
              not play out the hand, but the team will go up 2 points. </li>
            <li><i class="glyphicon glyphicon-ok"></i>Talking across the table – After the cards are dealt and the
              bidding is in process, players should not talk across the table. For example, a player should not express
              dismay at their hand to encourage their partner to bid. Players should not coach their partners as to which
              cards to throw. It is up to each player to keep track of what point cards are played or as to what suit
              trump is - it is never appropriate to ask. Any player may ask the score, however it is inappropriate to
              announce the score across table to your partner as to be construed as encouragement to bid.</li>
            <li><i class="glyphicon glyphicon-ok"></i>Renegs – A renege is defined as when a player does not follow suit
              when they have that suit in their hand. The team that has reneged will go up for the points that have been
              bid and the opposing team receives the points bid.</li>
            <li><i class="glyphicon glyphicon-ok"></i>Playing out of turn – This is defined as when a player pitches out
              of turn. Opposing teams receives points bid and deal is passed (this does not count for very last card as
              it does not affect other cards pitched).</li>
            <li><i class="glyphicon glyphicon-ok"></i>Bidding to go out – It is not necessary to bid a team to win. The
              first team to 0 shall receive the win. If both teams reach 0 in the final hand, the team that bid receives
              the wins. </li>
            <li><i class="glyphicon glyphicon-ok"></i>Counting for game - Cards shall be counted face up on the table.
              Opposing teams can request a re-count if they feel necessary.</li>
            <li><i class="glyphicon glyphicon-ok"></i>Finished Players – Enjoy the games and have fun! However, it is not
              appropriate to give advice to individuals who are still playing or point out mistakes that have been made.
              Please avoid any commentary until all matches are complete.</li>
            <li><i class="glyphicon glyphicon-ok"></i>At no time can a player throw in his cards during a game. Example –
              a player has no trump and “phone numbers” for cards, so he throws in all remaining cards in his had early
              in the game. It’s bad etiquette and forbidden due to good sportsmanship rules.</li>
            <li><i class="glyphicon glyphicon-ok"></i>If you do not agree or understand any of the rules, please clarify
              with the co-commissioners prior to starting any games.</li>
            <li><i class="glyphicon glyphicon-ok"></i>For any rules not defined explicitly herein, consult the league
              Co-Commissioner's, they have final say</li>
          </ul>
        </div>
      </div>
    </div>
    <!-- /.container -->
  </div>
  
  <div class="content-section-b">
  
    <div class="container">
      <div class="row">
  
        <div class="col-sm-12 wow fadeInRightBig" data-animation-delay="200">
          <h3 class="section-heading" id="hPlayoffs">Playoffs</h3>
  
          <ul class="descp lead2">
            <li><i class="glyphicon glyphicon-ok"></i>After all regular season weeks have concluded, top 4 teams based on
              <strong>winning %</strong> advance to the playoffs. </li>
            <li><i class="glyphicon glyphicon-ok"></i>Tie-Breaker #1 - If 2 teams are tied via winning percentage for 1
              playoff position (example: 4th seed), their regular season head-to-head score determine's who advances.</li>
            <li><i class="glyphicon glyphicon-ok"></i>Tie-Breaker #2 - If 3 or more teams are tied via winning percentage
              for playoff position(s), <strong>head-to-head record is ignored</strong>, the teams will face off in a 3
              game playoff (example: if 3 teams are tied, the 3 teams will face each other in a 2 vs. 2 vs. 2 matchup).
              The first team to 3 wins advances. If multiple playoff seeds are being decided, the first winning team
              moves on, the other teams remain playing until the next team has reached 3 wins. The head-to-head-to-head
              matchup will be scheduled as needed,but must be completed by the start of Week 10 (playoff week). Teams
              should coordinate and find a time to play amongst themselves, but contact the commissioner(s) should
              scheduling become a problem. <strong>Failure</strong> to complete the playoff matchup in a timely fashion
              will result in forfeiture.</li>
            <li><i class="glyphicon glyphicon-ok"></i>Seeding - Teams are seeded based on winning % (followed by when
              they got into the playoffs, see Tie-Breaker #2). There are 2 rounds of playoffs, Round 1: Seed #1 vs. Seed
              #4 and Seed #2 vs Seed #3. Round 2: Winner's advance to vie for 1st and 2nd place, Loser's advance to vie
              for 3rd and 4th place. All matches are a best-of-3 head-to-head matchup.</li>
            <li><i class="glyphicon glyphicon-ok"></i>We will have a "loser's tournament" at the end of year party for
              all teams not ranked in the top 4 at the end of the season.</li>
          </ul>
        </div>
  
  
  
      </div>
    </div>
    <!-- /.container -->
  </div>